volumes:
  postgres_data:
    driver: local

services:
  postgresql:
    image: postgres:18
    shm_size: 1g
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql
    ports:
      - 5440:5432
    env_file:
      - ./.env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
  indexer:
    image: ghcr.io/joshstevens19/rindexer:sha-de24c808b8af5ad8c07c9f8dda4c11965d5dfa04
    depends_on:
      postgresql:
        condition: service_healthy
    volumes:
      - .:/app/project_path
      - /var/run/docker.sock:/var/run/docker.sock
    working_dir: /app/project_path
    command: [ "start", "indexer"]
    environment:
      DATABASE_URL: postgres://postgres:rindexer@postgresql:5432/postgres

  api:
    image: ghcr.io/deluxtreme/subindexer:latest
    depends_on:
      postgresql:
        condition: service_healthy
    environment:
      DATABASE_URL: postgres://postgres:rindexer@postgresql:5432/postgres
      REDEEMER_PK: ${REDEEMER_PK}
      API_PORT: ${API_PORT:-3000}
      REDEEM_INTERVAL: ${REDEEM_INTERVAL:-3600}
      GNOSIS_RPC_URL: ${GNOSIS_RPC_URL:-https://rpc.gnosischain.com/}
    ports:
      - "${API_PORT:-3000}:${API_PORT:-3000}"
    restart: unless-stopped
