name: subindexer
project_type: no-code
networks:
- name: gnosis
  chain_id: 100
  rpc: $GNOSIS_RPC_URL
storage:
  postgres:
    enabled: true
native_transfers:
  enabled: false
contracts:
- name: SubscriptionModule
  details:
  - network: gnosis
    address: $SUBSCRIPTION_MODULE
    start_block: $START_BLOCK
  abi: ./abis/SubscriptionModule.abi.json
  include_events:
  - SubscriptionCreated
  - Unsubscribed
  - Redeemed
  - RecipientUpdated
